.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Search city city"
    "Search forcast forcast"
    "Search . .";
}

.Search {
  grid-area: Search;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin: 50px;
}
.input-group {
  justify-content: center;
}

.cities {
  display: flex;
  margin-top: 20px;
}

.city {
  grid-area: city;
  width: auto;
  margin-right: 30px;
  margin-bottom: 40px;
  height: auto;
}
.text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.text h4 {
  line-height: 40px;
}
.forcast {
  grid-area: forcast;
}

.forecastList {
  display: flex;
  flex-direction: row;
}
.green {
  background-color: chartreuse;
  border-radius: 0px;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
  border-radius: 0px;
}

.card {
  background-color: rgb(51, 113, 230);
  color: white;
}
.jumbotron {
  background-color: rgb(0, 59, 61);
  color: white;
}
